<html>
<div id = "listings" align='center'>
  <h3 align="center" >My Matchings </h3>
  <% if @sorted_listings %>
    <% @sorted_listings.each_with_index do |listing_match, i| %>
      <% cache listing_match do %>
        <%= render :partial => 'matches/listing_match', :locals => {:listing_match => listing_match, :i => i} %>
      <% end %>
    <% end %>
  <% else %>
    <h5>No matches found. Preferences not set.</h5>
  <% end %>
</div>
</html>
