table, th, td {
    border: 1px solid black;
    text-align: center;
    table-layout: fixed ;
}

.table-my-listings {
   width: 50% !important;
}

.table-my-listings td {
  word-break: break-all;
  table-layout: fixed;
}

.table-all-listings {
   width: 60% !important;
}

.table-all-listings td {
  word-break: break-all;
  table-layout: fixed;
  white-space: normal;
  word-wrap: break-word;
}