<div align='center'>
  <h3>Sublease Requests For My Listings</h3>
  <% @my_listings.each do |listing| %>
    <% listing.listing_requests.each do |listing_request| %>
      <% if not listing_request.expired %>
        <% cache listing_request do %>
          <%= render :partial => 'listing_request/listing_request', :locals => {:listing_request => listing_request} %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
